  {% load static %}

  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

    <style>
  body {
    margin-top: 90px;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .dress-all {
    object-position: top;
  }

  .all-img-height {
    height: 80%;
  }

  .social-icon {
    width: 4vw;
    height: 4vw;
  }
  @media screen and (max-width: 768px) {

    .footer-text {
      font-size: 0.8rem;
    }
    
  }

  @media screen and (min-width: 768px) {

    .social-icon {
    width: 2vw;
    height: 2vw;
    }
    
  }

    
  </style>
</head>
<body>

<nav class="navbar fixed-top bg-light border-bottom ">
  
  <div class="container-fluid">

    <div class="row w-100">
      
      
      <!-- Left: Sidebar toggle button -->
      <div class="col d-flex align-items-center">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
          <img src="{% static 'lists_24dp_1F1F1F_FILL0_wght100_GRAD-25_opsz24.svg' %}" alt="">
        </button>
      </div>
      
      <!-- Center: Logo -->
      <div class="col d-flex justify-content-center align-items-center">  
        <a class="text-decoration-none"  href="{% url 'home:index' %}">
          <h1 class="text-dark">WARDROBE</h1>
        </a>
      </div>
      
      <!-- Auth links -->
      <div class="col d-flex text-center justify-content-end align-items-center">
        {% if user.is_authenticated %}
        <a href="" class="text-decoration-none text-dark">Welcome {{user.username}}</a>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary text-dark text-decoration-none" href="{% url 'user:login' %}">Login</a>
        {% endif %}
        <button class="border-0">
          <img src="{% static 'shopping_bag.svg' %}" alt="">
        </button>
      </div>
      
      
    </div>
  </div>
</nav>

<!-- Sidebar (Offcanvas) -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled">
      {% for item in category %}
        <li ><a href="{% url 'home:category' item.id %}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>




{% block content %}
{% endblock content %}

<!-- Footer -->

  <div class="container-fluid bg-dark">
    <div class="row row-cols-3 p-4 p-md-5 text-light">
      
    <div class="col footer-text">
      <p class="mb-2 fw-bold">ABOUT</p>
      <p class="mb-2 fw-bold">FAQs</p>
      <p class="mb-2 fw-bold">RETURN / EXCHANGE</p>
      <p class="mb-2 fw-bold">CONTACT US</p>
      <p class="mb-2 fw-bold">PRIVACY POLICY</p>  
    </div>
    <div class="col text-center" >
      
      <h6 class="mb-3 footer-text">FOLLOW US </h6>
      
      <a href="#"><img class="social-icon me-2" src="{% static 'icons8-facebook.svg' %}" alt="facebook"></a>
      <a href="#"><img class="social-icon me-2" src="{% static 'icons8-instagram.svg' %}" alt="instagram"></a>
      <a href="#"><img class="social-icon me-2" src="{% static 'icons8-tiktok.svg' %}" alt="tiktok"></a>
      
    </div>
    <div class="col d-flex flex-column align-items-center">
      <p class="mb-3 footer-text"><b>CUSTOMER SERVICE</b></p>
      <div class="d-flex flex-column align-items-start w-100" style="max-width: 120px;">
        <a class="text-light fs-6 fs-md" href="">Email</a>
        <a class="text-light fs-6 fs-md" href="">Whatsapp</a>
      </div>
    </div>
    
  </div>
</div>

<script src="{% static 'search.js' %}"></script>

</body>
</html>
