{% extends 'home/utility.html' %}

{% load static %}

{% block ind %}
<div class="container-fluid mt-2">
  <h2 class="text-center mb-4">{{cat.name}}</h2>

    <div class="container-fluid px-2 px-md-5">
    <div class="row row-cols-2 row-cols-md-4 gx-1">

      {% for dress in dresses %}
      <a href="/home/product?code={{ dress.code }}">
        <div class="col p-2 p-md-4 mb-3">
          <div class="all-img-height mb-3">
            <img src="{% static 'images' %}{{ dress.default_image.url }}"  loading="lazy" class="dress-all rounded-1 object-fit-cover" alt="Dress">
          </div>
          <div class="px-2">
            <h5 class="">{{ dress.name }}</h5>
            <p class="">RS.{{dress.price}}</p>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock ind %}