{% extends 'home/base.html' %}


{% block content %}

<div class="d-flex align-items-center justify-content-between px-3 py-2 bg-light">

  <!-- Left: Filter dropdown -->
  <div class="dropdown me-3 flex-shrink-0">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </button>
    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
      <li><a class="dropdown-item" href="#">Option 1</a></li>
      <li><a class="dropdown-item" href="#">Option 2</a></li>
      <li><a class="dropdown-item" href="#">Option 3</a></li>
    </ul>
  </div>

  <!-- Center: Thin text carousel -->
  <div class="flex-grow-1 text-center mx-3">
    <div id="textCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <small>Welcome to our store! Check out the latest collection.</small>
        </div>
        <div class="carousel-item">
          <small>Free shipping on orders over $50!</small>
        </div>
        <div class="carousel-item">
          <small>Register now and get 10% off your first order.</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Right: Search box -->
  <div class="flex-shrink-0 ms-3">
    <form class="d-flex position-relative">
      <div class="position-relative">
        <input id="search-input" class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
        <ul id="search-result" class="search-result list-group position-absolute w-100" style="top:100%; z-index:1000;"></ul>
      </div>
      <button class="btn btn-sm" type="submit">
        <img src='../static/search_24dp_1F1F1F.svg' alt="Search">
      </button>
    </form>
  </div>
</div>
    
{% block ind %}
{% endblock ind %}

{% endblock content %}
