{% extends 'home/base.html' %}

{% load static %}


{% block content %}

<!-- problem in the sub navbar -->
<div class="container-fluid border-bottom util-container">

    <div class="row  gx-0 gx-md-4 align-items-center py-3">
      
    <!-- Left: Filter dropdown -->
    <div class="dropdown col align-items-center order-2 order-md-1">
      <button class="btn btn-sm dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'filter_alt_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg' %}" alt="Filter">
        Filter
      </button>
      <ul class="dropdown-menu" aria-labelledby="filterDropdown">
        <li><a class="dropdown-item" href="#">Option 1</a></li>
        <li><a class="dropdown-item" href="#">Option 2</a></li>
        <li><a class="dropdown-item" href="#">Option 3</a></li>
      </ul>
    </div>
    
    <!-- Center: Thin text carousel -->
    <div class="col-12 col-md text-center order-md-2 mt-3 mb-5 mb-md-2">
      <div id="textCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <small>Welcome to our store! Check out the latest collection.</small>
          </div>
          <div class="carousel-item">
            <small>Free shipping on orders over $50!</small>
          </div>
          <div class="carousel-item">
            <small>Register now and get 10% off your first order.</small>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Right: Search box -->
    <div class="col d-flex justify-content-end align-items-center order-3 order-md-3">
      <form class="d-flex ">
        <div class="position-relative">
          <input id="search-input" class="form-control rounded-pill form-control-sm me-2" data-url="{% url 'home:search' %}" type="search" placeholder="Search" aria-label="Search">
          <ul id="search-result" class="search-result list-group position-absolute w-100" style="top:100%; z-index:1000;"></ul>
        </div>
        <button class="btn btn-sm" type="submit">
          <img src="{% static 'search_24dp_1F1F1F.svg' %}" alt="Search">
        </button>
      </form>
    </div>
  </div>

</div>

{% block ind %}
{% endblock ind %}

{% endblock content %}
