
<div class="d-flex justify-content-center">

  <form id="form">
    
    {% if form.errors %}
    <p>Username and password didnt match</p>
    {% endif %}
    
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-2">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}


    
    <div class="mt-4">
      <button class="btn w-100 btn-dark  rounded-2" id="submit-btn" style="border: none;">
        Sign In
      </button>
    </div>
  </form>
</div>